.mapboxgl-legend, .top-right > * {
  background-color: rgba(255,255,255,1.0) !important;
}

.btn, .btn-outline-primary, .radiobtn {
  padding: 0px;
}

.irs {
  width: 100%;
}

#DataTables_Table_0_wrapper > div.dt-buttons.btn-group.flex-wrap > div {
  margin-left: 5px;
}

